#control-panel-wrapper {
  width: calc(100vw - 20px);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px;
  background-color: #171717;
  border-radius: 20px;
  margin: 10px;
}

#control-panel {
  display: flex;
  flex-direction: column;
}

.control-panel-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

#control-panel-input {
  margin: 0 4px;
  width: 100px;
  text-align:right;
}